<loading *ngIf="isLoading">{{ isLoading }}</loading>

<amplify-auth-container>
  <header id="header" style=" background-color:transparent;   height: 70px;
  
 
  
  position: relative;">

    <div class="container d-flex">
     
      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>Bi-migrator  <img src="assets/img/bar.gif"></span></a></h1>
        
      </div>
  
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li ><a href="/" style="text-decoration:none;">Home</a></li>
  
          <li ><a href="https://vaidhyamegha.com/" style="text-decoration:none;">About</a>
           
          </li>
            <li style="margin-left:50px"> <amplify-sign-out></amplify-sign-out></li>
       
  
          
  
        </ul>
      </nav>
  
    </div>
  </header>
  <amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>
  
 <div *ngIf="authState === 'signedin' && user" class="App" >
 
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="fa fa-envelope"></i><a>{{user['attributes']['email']}} signed in..</a>
  
      
    </div>
    <div class="social-links">
      <a>CONTACT -</a> 
      <a href="https://twitter.com/aiqbic?s=08" class="twitter"><i class="fa fa-brands fa-twitter" style="color:white;"></i></a>
      <a href="https://www.facebook.com/vaidhyamegha/" class="facebook"><i class="fa fa-brands fa-facebook" style="color:white;"></i></a>
      <a href="https://www.linkedin.com/company/vaidhyamegha/" class="linkedin"><i class="fa fa-brands fa-linkedin" style="color:white;"></i></a>
    </div>
  </div>
</section>

<!-- ======= Header ======= -->


<!-- ======= Hero Section ======= -->
<section  *ngIf="showapp" id="hero" class="d-flex align-items-center">

  <div class="container">
  
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2 style="margin-top:20px; font-size: 16px; font-weight:normal; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height:30px;">As companies mature and find themselves with growing needs for more pervasive business intelligence throughout their user base and application/platform modernization, BI Migration, or the automation of analytical applications from one Business Intelligence platform to another, has become a very common request.</h2>
        <h6 class="btn-get-started1">Bi Migration from Tableau to Quicksight</h6>
     
        <div class="containerC"  ><a><li *ngFor="let i of tbs" style="list-style-type:none; margin-left: 10px; border-bottom:1px solid orange; padding:10px;"><i class="fa fa-regular fa-user"></i> User {{i.username}} has migrated project {{i.pname}} successfully!!</li><br></a></div>    
      
        
        
        <div><a href="/awslogin" class="btn-get-started scrollto" style="text-decoration:none;">Migrate My Project</a></div>
       
          
         
 
      
    
       
      </div>
      <div  class="col-lg-6 order-1 order-lg-2 hero-img" style="margin-top:20px;">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
       
      </div>
      
    </div>
   
   



      
      </div>
</section>
<div class="main">
  <router-outlet></router-outlet>

</div>
