<loading *ngIf="isLoading">{{ isLoading }}</loading>
<amplify-auth-container>
  <amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>
  
 <div *ngIf="authState === 'signedin' && user" class="App" >
  <!--<div *ngIf="aws === true" class="modal"  role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <form
          autocomplete="off"
          [formGroup]="createFormaws"
          
        >
          <h3>Please Provide Your AWS Credentials</h3>
                  <div>
                    <label>Access Key Id: </label>
                    <input type="password" formControlName="access" autocomplete="off" />
                  </div>
                  <div>
                    <label>Secret Access Key Id: </label>
                    <input type="password" formControlName="secret" autocomplete="off" />
                  </div>
                  <div>
                    <label>Username: </label>
                    <input type="text" formControlName="username" autocomplete="off" />
                  </div>
                  <div>
                    <label>AwsaccountId: </label>
                    <input type="text" formControlName="awsaccountId" autocomplete="off" />
                  </div>
                  <br>
                  <div>
                  <input type="checkbox" style="width:auto; height:auto; display: inline;" (change)="check()"/><p style="display:inline; color:red;">By checking on this, these are the policies that will be attached with your account to proceed </p><br>
                   <li>AmazonDynamoDBFullAccess</li>
                   <li>AWSLambda_FullAccess</li>
                   <li>IAMFullAccess</li>
                   <li>AmazonS3FullAccess</li>
                   <li>QuicksightFullAccess</li>
           
                  </div>
                  <div>
                   
                    <button type="submit" (click)="oncreateaws(this.createFormaws.value)" autocomplete="off" >Submit</button>
                  </div>
                  </form>
            </div>
            </div>
            </div>
          -->
    


<!--<div class="topnav">
  <a style="padding:10px 8px;"><amplify-sign-out></amplify-sign-out></a>
  <a style="font-style:italic; color:rgb(224, 190, 56)">{{user['attributes']['email']}}</a>
  <a href="https://vaidhyamegha.com/contact/">Contact</a>
  <a href="https://vaidhyamegha.com/about/">About</a>
 
  <a href="#">Home</a>
  <a href="#">Dashboard</a>
  
    
   
  <a href="" style="float:left; font-size: 24px; color:rgb(173, 209, 12); ">Bi-Migrator</a>
 

</div>-->
<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-lg-block">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="fa fa-envelope"></i><a>{{user['attributes']['email']}}</a>
  
      
    </div>
    <div class="social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="#" class="skype"><i class="icofont-skype"></i></a>
      <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
    </div>
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header">
  <div class="container d-flex">

    <div class="logo mr-auto">
      <h1 class="text-light"><a href="index.html"><span>Bi-migrator</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li ><a href="/">Home</a></li>

        <li ><a href="https://vaidhyamegha.com/">About</a>
         
        </li>
          <li style="margin-left:50px"> <amplify-sign-out></amplify-sign-out></li>
     

        

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section  *ngIf="showapp" id="hero" class="d-flex align-items-center">

  <div class="container">
  
    <div class="row">
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2>Bi-Migration From Tableau to Quicksight</h2>
        
        
        <div><a href="/awslogin" class="btn-get-started scrollto">Migrate My Project</a></div>
       
      </div>
      <div  class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/hero-img.png" class="img-fluid" alt="">
      </div>
      
    </div>
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background: url(assets/img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">User vm has migrated the project pro1 successfully!!</h2>
             
            </div>
          </div>
        </div>
        
        <!-- Slide 2 -->
        <div *ngFor="let i of tbs" class="carousel-item" style="background: url(assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated fanimate__adeInDown">User {{i.username}} has migrated project {{i.pname}} successfully!!</h2>
             
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown">Sequi ea <span>Dime Lara</span></h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  
  </div>
  
</section><!-- End Hero -->

<div class="main">
  <router-outlet></router-outlet>


<!--<div *ngIf="showapp" style="margin-top: -20px;">
  <amplify-auth-container>
  <amplify-authenticator *ngIf="authState !== 'signedin'"></amplify-authenticator>
  
  <div *ngIf="authState === 'signedin' && user" class="App">
    <amplify-sign-out></amplify-sign-out>
    <div>Hello, {{user.username}}</div>
   
  </div>
  </amplify-auth-container></div>-->

  <!--<div *ngIf="showapp" class="row">
   

    <div class="column" style="background-color:whitesmoke;border:10px solid white; border-radius: 20px; overflow: scroll; border-right:20px solid white; ">
      <p style="margin-left:10%; font-size: medium; color:green"></p>
      <div class="board" *ngFor="let i of tbs">
        <li>User {{i.username}} has migrated project {{i.pname}} successfully!!</li>
      </div>
    </div>
    <div class="column" style="background-color:whitesmoke; border:10px solid white;border-left:20px solid white; border-radius: 20px; overflow: scroll;">
      <button (click)="showm()" style="background-color:rgb(26, 133, 58); width:200px; height:50px; font-size:15px; color:white;  margin-top: 10%; margin-left:30%; border-radius: 20px;">Migrate My Project</button>
      <p style="font-size:18px; color: rgb(15, 119, 204); margin-left: 2%;">Comments:</p>
      <form  autocomplete="off"
      [formGroup]="createFormtb1"
      (ngSubmit)="onCreatetb1(createFormtb1.value)">
        <div > 
        <textarea name="comments" id="comments" formControlName="comments" rows="4" cols="45" style="font-family:sans-serif;font-size: 18px; border:none;border-radius: 10px; margin-left: 2%;">
      
        </textarea></div>
        <input type="submit" value="Post" style="color:white; background-color:green; border-radius: 10px;font-size: 15px; width:80px; height:40px;margin-left: 2%; ">
        
       <div *ngFor="let i of tbs1" class="comment" style="overflow:scroll; margin-left: 2%;">
          <li>{{i.comments}}</li>
       </div>
        </form>
    </div>
  </div>
  
</div>

<div *ngIf="logcred "class="modal"  role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
       <button (click)="method()" style="background-color:rgb(26, 133, 58); width:200px; height:50px; font-size:15px; color:white;   margin-left:25%; border-radius: 20px;">  Please Login!!! </button>
        
      </div>
        </div>
        </div>
        </div>-->
        
      </div>


